<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Kamus</title>
    <meta metal:use-macro="${appPath}/default/views/macros/head.html/head"/>
</head>
<body tal:define="headerNav string:kamus " metal:use-macro="${appPath}/default/views/macros/body.html/body">
<tal:block metal:fill-slot="content">
    <div class="w940" tal:condition="php: hits.getCount() GT 0">
        <tal:block metal:use-macro="${appPath}/default/views/macros/header.html/header"/>
        <!--tal:block tal:define="facetNav string:kamus "
                   metal:use-macro="${appPath}/default/views/macros/facet.html/facet"/ -->
        <content>
            <div class="content">
                <!-- tal:block metal:use-macro="${appPath}/default/views/macros/filter.html/filter"/ -->
                <!-- div metal:use-macro="${appPath}/default/views/macros/pagination.html/pagination"/ -->
                <div class="result">
                    <tal:block tal:repeat="hit hits/getDocuments">
                        <p>
                            <a tal:define="global entry hit/getEntry;"
                               href="/entri/${php: urlencode(entry)}">${entry}</a><br/>
                            <tal:block tal:repeat="definition hit/getDefinitions">
                                <tal:block tal:content="definition">Definition</tal:block>
                                <br/>
                            </tal:block>
                        </p>
                    </tal:block>
                </div>
                <!-- div metal:use-macro="${appPath}/default/views/macros/pagination.html/pagination"/ -->
            </div>
        </content>
        <div class="clear"></div>
    </div>
    <tal:block metal:use-macro="${appPath}/default/views/macros/suggestion.html/suggestion"/>
</tal:block>
</body>
</html>