<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Beranda</title>
    <meta metal:use-macro="${appPath}/views/macros/head.html/head"/>
</head>
<body metal:use-macro="${appPath}/views/macros/body.html/body">
<div tal:omit-tag="true" metal:fill-slot="content">

    <section id="random" class="grid_6 nomargin-left">
        <h3>
            <small>entry</small>
            Acak
        </h3>
        <ul class="datalist" id="entry-random">
            <li class="loader"><img src="/images/ajax-loader.gif" alt="tunggu sebentar.."/></li>
        </ul>
        <!-- /.datalist -->
    </section>
    <div class="grid_1">&nbsp;</div>

    <section id="misspelled" class="grid_6">
        <h3>
            <small>salah</small>
            Eja
        </h3>
        <ul class="datalist" id="misspelled-random">
            <li class="loader"><img src="/images/ajax-loader.gif" alt="tunggu sebentar.."/></li>
        </ul>
        <!-- /.datalist -->
    </section>
    <div class="grid_1">&nbsp;</div>
</div>
</body>
</html>