<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Kateglo - Beranda</title>
	<meta metal:use-macro="${appPath}/views/macros/head.html/head"/>
</head>
<body tal:define="headerNav string:beranda " metal:use-macro="${appPath}/views/macros/body.html/body">

<tal:block metal:fill-slot="content">
	<div class="w940 start">
		<h1 class="logo">Kateglo</h1>

		<form name="search" action="${formAction}" method="GET" class="telusur">
			<input type="text" name="${search/getFieldName}"
			       value="${search/getFieldValue}"/>
			<input class="submit" type="submit" value="${search/getButtonValue}"/>
			<p><a href="http://code.google.com/p/kateglo/wiki/PencarianKateglo">Petunjuk Penelusuran</a> <a href="${formAction}/detail">Penelusuran lanjutan</a></p>
		</form>

		<p>Saat ini terdapat <strong id="entry-amount" tal:content="amount/entry">entry-amount</strong> entri
			<a href="/entri/kamus">kamus</a>, <strong id="thesaurus-amount" tal:content="amount/thesaurus">thesaurus-amount</strong>
			entri <a href="/entri/tesaurus">tesaurus</a>,
			<strong id="equivalent-amount" tal:content="amount/equivalent">equivalent-amount</strong> entri
			<a href="/entri/padanan">padanan</a>, <strong id="proverb-amount" tal:content="amount/proverb">proverb-amount</strong>
			entri <a href="/entri/peribahasa">peribahasa</a>,
			serta
			<strong id="acronym-amount" tal:content="amount/acronym">acronym-amount</strong> entri
			<a href="/entri/singkatan">singkatan</a>.</p>
	</div>
</tal:block>
</body>
</html>