<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Beranda</title>
    <meta metal:use-macro="${appPath}/views/macros/head.html/head"/>
</head>
<body metal:use-macro="${appPath}/views/macros/body.html/body">
<div tal:omit-tag="true" metal:fill-slot="content">
    <div style="text-align: center">
        <p>
            Selamat datang di <strong>Kateglo (Beta)</strong> - <a href="/kamus">kamus</a>,
            <a href="/tesaurus">tesaurus</a>, dan glosarium bahasa Indonesia.
        </p>

        <p>
            Silakan gunakan kotak pencarian di bagian atas halaman untuk mencari <a href="/entri/entri">entri</a> yang
            Anda inginkan.
        </p>

        <p>
            Saat ini terdapat <img id="img-entry-amount" src="/images/ajax-loader.gif" alt="tunggu sebentar.." /> entri
            <a href="/kamus">kamus</a>.
        </p>

        <p>
            <strong>Entri acak:</strong>
            <br/>
            <img id="img-entry-random" src="/images/ajax-loader.gif" alt="tunggu sebentar.." />
        </p>

        <p>
            <strong>Salah eja:</strong>
            <br/>
            <img id="img-misspelled-random" src="/images/ajax-loader.gif" alt="tunggu sebentar.." />
        </p>
    </div>
</div>
</body>
</html>