<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kateglo - Body</title>
    <!--[if lte IE 9]>
    <script src="assets/js/html5.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body metal:define-macro="body">
<div class="body">

    <div class="container_24" id="container">
        <div class="grid_2">&nbsp;</div>
        <div id="wrap" class="grid_20">

            <header>
                <h1 id="logo"><a href="/">Kateglo</a></h1>

                <h2 id="desc">kamus, tesaurus, dan glosarium bahasa Indonesia</h2>
            </header>

            <nav>
                <ul tal:define="searchFieldValue search/getFieldValue">
                    <li tal:attributes="class php: formAction EQ '/' OR formAction EQ '/cari' ? 'current_page' : null">
                        <a href="/">Beranda</a>
                    </li>
                    <li tal:attributes="class php: formAction EQ '/kamus' ? 'current_page' : null">
                        <a tal:attributes="href php: empty(searchFieldValue) ? '/kamus' : '/kamus?query='.searchFieldValue">Kamus</a>
                    </li>
                    <li tal:attributes="class php: formAction EQ '/tesaurus' ? 'current_page' : null">
                        <a tal:attributes="href php: empty(searchFieldValue) ? '/tesaurus' : '/tesaurus?query='.searchFieldValue">Tesaurus</a>
                    </li>
                    <li tal:attributes="class php: formAction EQ '/padanan' ? 'current_page' : null">
                        <a tal:attributes="href php: empty(searchFieldValue) ? '/padanan' : '/padanan?query='.searchFieldValue">Padanan</a>
                    </li>
                    <li tal:attributes="class php: formAction EQ '/peribahasa' ? 'current_page' : null">
                        <a tal:attributes="href php: empty(searchFieldValue) ? '/peribahasa' : '/peribahasa?query='.searchFieldValue">Peribahasa</a>
                    </li>
                    <li tal:attributes="class php: formAction EQ '/singkatan' ? 'current_page' : null">
                        <a tal:attributes="href php: empty(searchFieldValue) ? '/singkatan' : '/singkatan?query='.searchFieldValue">Singkatan</a>
                    </li>
                    <li>
                        <a href="/">Aplikasi</a>
                    </li>
                </ul>
            </nav>

            <section id="search">
                <div class="grid_1 nomargin-left">&nbsp;</div>
                <div class="search-box grid_15">
                    <form name="search" action="${formAction}" method="GET">
                        <input type="text" class="text" name="${search/getFieldName}"
                               value="${search/getFieldValue}"/>
                        <input type="submit" class="search-submit" value="${search/getButtonValue}"/>
                    </form>
                </div>
                <div class="grid_4 nomargin-right">
                    <p>
                        <a href="/">Petunjuk penelusuran</a><br/>
                        <a href="${formAction}/detail">Penelusuran lebih detail</a>
                    </p>
                </div>
                <div class="clear"></div>
            </section>

            <tal:block metal:define-slot="header">
            </tal:block>

            <content id="main">

                <tal:block metal:define-slot="content">
                </tal:block>

            </content>

            <footer>
                <tal:block metal:define-slot="footer-stats">
                </tal:block>

                <div id="bottom">
                    <div id="license" class="floatleft">
                        <a href="">Creative Common License</a>
                    </div>

                    <div id="footer-menu" class="floatright grid_9">
                        <p><a href="/">v0.01.20090923</a> / <a href="/">API</a> / <a href="/">Dibalik Kateglo</a> / <a
                                href="/">Komentar?</a></p>
                    </div>
                    <div class="clear"></div>
                </div>

            </footer>
        </div>
        <!-- /#wrap -->
        <div class="clear"></div>
    </div>
    <!-- /#container -->

</div>

<script type="text/javascript" src="/libs/jquery-1.6-debug.js"/>
<script type="text/javascript" src="/libs/jquery-typewatch-2.0.0-debug.js"/>
<script type="text/javascript" src="/javascripts/javascript.js"/>
</body>
</html>