<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kateglo - Pagination</title>
</head>
<body tal:omit-tag="true" metal:define-macro="facet">
<aside>
	<h3>Telusuri di</h3>
	<ul class="telusuri">
		<li><a href="#">semua laman</a></li>
		<li><a href="#">kamus</a></li>
		<li><a href="#">tesaurus</a></li>
		<li><a href="#">padanan</a></li>
	</ul>
	<hr/>
	<tal:block tal:condition="php: hits.getFacet().getType().count() GT 0">
		<h3>Bentuk Kata</h3>
		<ul>
			<tal:block tal:repeat="type hits/getFacet/getType">
				<li tal:condition="php: type GT 0">
					<tal:block tal:condition="php: trim(search.getFieldValue()) EQ '' ">
						<a href="${formAction}/?${search/getFieldName}=type:%22${repeat/type/key}%22">${repeat/type/key}
							</a>
					</tal:block>
					<tal:block tal:condition="php: trim(search.getFieldValue()) NE '' ">
						<a href="${formAction}/?${search/getFieldName}=${search/getFieldValue}+type:%22${repeat/type/key}%22">${repeat/type/key}
							</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getClazz().count() GT 0">
		<h3>Kelas Kata</h3>
		<ul>
			<tal:block tal:repeat="clazz hits/getFacet/getClazz">
				<li tal:condition="php: clazz GT 0">
					<tal:block tal:condition="php: trim(search.getFieldValue()) EQ '' ">
						<a href="${formAction}/?${search/getFieldName}=class:%22${repeat/clazz/key}%22">${repeat/clazz/key}
							</a>
					</tal:block>
					<tal:block tal:condition="php: trim(search.getFieldValue()) NE '' ">
						<a href="${formAction}/?${search/getFieldName}=${search/getFieldValue} class:%22${repeat/clazz/key}%22">${repeat/clazz/key}
							</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getSource().count() GT 0">
		<h3>Sumber</h3>
		<ul>
			<tal:block tal:repeat="source hits/getFacet/getSource">
				<li tal:condition="php: source GT 0">
					<tal:block tal:condition="php: trim(search.getFieldValue()) EQ '' ">
						<a href="${formAction}/?${search/getFieldName}=sourceCategory:%22${repeat/source/key}%22">${repeat/source/key}
							</a>
					</tal:block>
					<tal:block tal:condition="php: trim(search.getFieldValue()) NE '' ">
						<a href="${formAction}/?${search/getFieldName}=${search/getFieldValue} sourceCategory:%22${repeat/source/key}%22">${repeat/source/key}
							</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getDiscipline().count() GT 0">
		<h3>Disiplin</h3>
		<ul>
			<tal:block tal:repeat="discipline hits/getFacet/getDiscipline">
				<li tal:condition="php: discipline GT 0">
					<tal:block tal:condition="php: trim(search.getFieldValue()) EQ '' ">
						<a href="${formAction}/?${search/getFieldName}=discipline:%22${repeat/discipline/key}%22">${repeat/discipline/key}
							</a>
					</tal:block>
					<tal:block tal:condition="php: trim(search.getFieldValue()) NE '' ">
						<a href="${formAction}/?${search/getFieldName}=${search/getFieldValue} discipline:%22${repeat/discipline/key}%22">${repeat/discipline/key}
							</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
</aside>
</body>
</html>