<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kateglo - Header</title>
</head>
<body tal:omit-tag="true" metal:define-macro="header">
<header>
	<h2>Kateglo</h2>
	<form name="search" action="${formAction}" method="GET" class="telusur">
		<input type="text" name="${search/getFieldName}"
			       value="${search/getFieldValue}"/>
			<input class="submit" type="submit" value="${search/getButtonValue}"/>
		<p class="pright"><a href="#">Petunjuk Penelusuran</a> <a href="${formAction}/detail">Penelusuran lanjutan</a></p>

		<p class="pleft">Hasil penelusuran: ${hits/getCount} entri (${hits/getTimeInSeconds} detik)</p>
	</form>

	<div class="clear"></div>
</header>
</body>
</html>