<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Kateglo - Head</title>
	<tal:block metal:define-macro="head">
		<link rel="shortcut icon" href="/images/favicon.png"/>
		<link type="text/css" rel="stylesheet" href="/styles/kateglo.css"/>
	</tal:block>
</head>
<body>
</body>
</html>