<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html  xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kateglo - Body</title>
</head>
<body metal:define-macro="body">
<div class="body">
	<div class="header">
		<div class="logo">
			<a href="/" title="Kateglo Start" ><img class="logoImg" src="/images/kateglo40.png" alt="Kateglo Logo" /></a>
		</div>
		<div class="search">
			<div class="search-form">
				<form action="${formAction}" method="get" >
					<div>
						<input type="text" name="${search/getFieldName}" onfocus="this.select();" class="search-field" tal:attributes="value php: is_object(search) ? search.getFieldValue() : ''" /> 
						<input type="submit" value="${search/getButtonValue}" />
					</div>
			 	</form>
		 	</div>
		</div>
	</div>
	<div class="navbar">
		<div class="menu">
			<ul>
				<li><a href="/">Beranda</a></li>
				<li><a href="/kamus">Kamus</a></li>
				<li><a href="/tesaurus">Tesaurus</a></li>
				<li><a href="/equivalent">Padanan</a></li>
				<li><a href="/peribahasa">Peribahasa</a></li>
				<li><a href="/singkatan">Singkatan</a></li>
			</ul>
		</div>
		<div class="account">
			Masuk Log
		</div>
	</div>
    <div id="content-container">
        <div class="content">
            <div metal:define-slot="content">
            </div>
        </div>
    </div>
	<div class="footer">
		<div class="footer-menu">text</div>
		<div class="footer-license">
			<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
				<img src="/images/cc-by-nc-sa.png" style="border-width: 0pt;" alt="CC-BY-NC-SA" title="CC-BY-NC-SA" />
			</a>
		</div>
	</div>	
</div>
</body>
</html>