<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kateglo - Body</title>
</head>
<body metal:define-macro="body">
<div class="body">
	<menu>
		<div class="topright">
			<!--ul>
				<li><a href="#">Daftar</a></li>
				<li><a href="#">Masuk Log</a></li>
			</ul-->
		</div>
		<!-- topright -->
		<div class="topleft">
			<ul>
				<li>
					<a tal:attributes="class php: headerNav EQ 'beranda' ? 'on' : null" href="/">
						Beranda
					</a></li>
				<li>
					<a tal:attributes="class php: headerNav EQ 'kamus' ? 'on' : null; href php: empty(searchFieldValue) ? '/kamus' : '/kamus?query='.searchFieldValue">
						Kamus
					</a>
				</li>
				<li>
					<a tal:attributes="class php: headerNav EQ 'tesaurus' ? 'on' : null; href php: empty(searchFieldValue) ? '/tesaurus' : '/tesaurus?query='.searchFieldValue">
						Tesaurus
					</a>
				</li>
				<li>
					<a tal:attributes="class php: headerNav EQ 'padanan' ? 'on' : null; href php: empty(searchFieldValue) ? '/padanan' : '/padanan?query='.searchFieldValue">
						Padanan
					</a>
				</li>
				<li>
					<a tal:attributes="class php: headerNav EQ 'peribahasa' ? 'on' : null; href php: empty(searchFieldValue) ? '/peribahasa' : '/peribahasa?query='.searchFieldValue">
						Peribahasa
					</a>
				</li>
				<li>
					<a tal:attributes="class php: headerNav EQ 'singkatan' ? 'on' : null; href php: empty(searchFieldValue) ? '/singkatan' : '/singkatan?query='.searchFieldValue">
						Singkatan
					</a>
				</li>
				<!-- li>
					<a href="/">Aplikasi</a>
				</li -->
			</ul>
		</div>
		<!-- topleft -->
		<div class="clear"></div>
	</menu>
	<tal:block metal:define-slot="content">
	</tal:block>
	<div class="wrapfooter"></div>
	<footer>
		<ul class="footnav">
			<li class="no"><a href="#">Entri hari ini</a></li>
			<li><a href="/acak/entri">Entri acak</a></li>
			<li><a href="/acak/salaheja">Salah eja</a></li>
			<li><a href="http://blog.bahtera.org">Blog</a></li>
			<!--li><a href="#">Mobile</a></li-->
			<li><a href="/kontak">Kontak</a></li>
			<li><a href="http://code.google.com/p/kateglo/wiki/KategloPemanfaatanInternetUntukPengayaanIstilahBahasaIndonesia">Tentang Kateglo</a></li>
			<li><a href="/faqs">FAQ</a></li>
			<li><a href="/privacy">Privacy</a></li>
			<li><a href="/terms">Terms</a></li>
			<li><a href="/api">API</a></li>
			<li><a href="/aplikasi">Aplikasi</a></li>
			<li><a href="http://twitter.com/#!/kateglo">Twitter</a></li>
			<!--li><a href="#">Facebook</a></li-->
		</ul>
		<!-- footnav -->
		<ul class="abc">
			<li class="no"><a href="/alfabet/a">A</a></li>
			<li><a href="/alfabet/b">B</a></li>
			<li><a href="/alfabet/c">C</a></li>
			<li><a href="/alfabet/d">D</a></li>
			<li><a href="/alfabet/e">E</a></li>
			<li><a href="/alfabet/f">F</a></li>
			<li><a href="/alfabet/g">G</a></li>
			<li><a href="/alfabet/h">H</a></li>
			<li><a href="/alfabet/i">I</a></li>
			<li><a href="/alfabet/j">J</a></li>
			<li><a href="/alfabet/k">K</a></li>
			<li><a href="/alfabet/l">L</a></li>
			<li><a href="/alfabet/m">M</a></li>
			<li><a href="/alfabet/n">N</a></li>
			<li><a href="/alfabet/o">O</a></li>
			<li><a href="/alfabet/p">P</a></li>
			<li><a href="/alfabet/q">Q</a></li>
			<li><a href="/alfabet/r">R</a></li>
			<li><a href="/alfabet/s">S</a></li>
			<li><a href="/alfabet/t">T</a></li>
			<li><a href="/alfabet/u">U</a></li>
			<li><a href="/alfabet/v">V</a></li>
			<li><a href="/alfabet/w">W</a></li>
			<li><a href="/alfabet/x">X</a></li>
			<li><a href="/alfabet/y">Y</a></li>
			<li><a href="/alfabet/z">Z</a></li>
		</ul>
		<!-- abc -->
		<p>All the words are brought to you by Kateglo, the free online Indonesia dictionary and thesaurus &copy;
			2011</p>
	</footer>
</div>

<script type="text/javascript" src="/libs/jquery-1.6-debug.js"/>
<script type="text/javascript" src="/libs/jquery-typewatch-2.0.0-debug.js"/>
<script type="text/javascript" src="/libs/jquery-ui-1.8.14.custom.min.js"/>
<script type="text/javascript" src="/javascripts/javascript.js"/>
</body>
</html>