<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Head</title>
    <tal:block metal:define-macro="head">
        <link rel="stylesheet" type="text/css" href="/ext4/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
        <script type="text/javascript" src="/ext4/bootstrap.js"/>
        <script type="text/javascript" src="/javascripts/javascript.js"/>
    </tal:block>
</head>
<body>
</body>
</html>