<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Singkatan</title>
    <meta metal:use-macro="${appPath}/views/macros/head.html/head"/>
</head>
<body metal:use-macro="${appPath}/views/macros/body.html/body">
<tal:block metal:fill-slot="content">
    <tal:block tal:condition="php: hits.getCount() GT 0">
        <tal:block metal:use-macro="${appPath}/views/macros/facet.html/facet"/>
        <div class="facet-class" style="width: 500px; display: table-cell;">

            <div tal:repeat="hit hits/getDocuments">
                <div>
                    <a href="/entri/${hit/getEntry}">${hit/getEntry}</a>

                    <div tal:condition="php: ( is_object(hit.getDefinitions()) && hit.getDefinitions().count() gt 0 )">
                        <div tal:repeat="definition hit/getDefinitions" style="padding-left:15px;">
                            <div tal:content="definition">Singkatan</div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div metal:use-macro="${appPath}/views/macros/pagination.html/pagination"/>
        </div>
    </tal:block>
    <tal:block metal:use-macro="${appPath}/views/macros/suggestion.html/suggestion"/>
</tal:block>
</body>
</html>