<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kateglo - Filter</title>
</head>
<body tal:omit-tag="true" metal:define-macro="filter">
<div tal:condition="php: facet.getUri() NE ''" class="cumb">
	<a tal:condition="php: search.getFieldValue() EQ ''" class="close" href="${search/getFormAction}">&times;</a>
	<a tal:condition="php: search.getFieldValue() NE ''" class="close"
	   href="${search/getFormAction}?query=${php: urlencode(search.getFieldValue())}">&times;</a>
	<p>
		<tal:block tal:repeat="filter facet/getFilters">
			<a tal:condition="not: repeat/filter/end" href="${search/getFormAction}/?query=${php: urlencode(search.getFieldValue())}&filter=${filter/getUri}">${filter/getValue}</a>
			<strong tal:condition="repeat/filter/end">${filter/getValue}</strong>
		</tal:block>
	</p>
</div>
</body>
</html>