.x-boxselect ul.x-boxselect-list {
    height: auto;
    cursor: text;
    min-height: 20px;
    padding: 0px;
}

.x-boxselect input {
    border: none;
    background: none;
    line-height: 18px;
    height: 20px;
    width: 100%;
    padding: 1px 3px;
}

.x-boxselect-input, .x-boxselect-item {
    display: inline-block;
    position: relative;
    *display: inline; /* IE7 */
    zoom: 1; /* IE */
}

.x-boxselect-item {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    o-border-radius: 6px;
    khtml-border-radius: 6px;
    border: 1px solid #CAD8F3;
    padding: 0px 1px 0px 5px !important;
    margin: 1px 1px 1px 0;
    background-color: #DEE7F8;
    cursor: default;
}

.x-boxselect-item:hover {
    background: #BBCEF1;
    border: 1px solid #6D95E0;
}

.x-boxselect-item-text {
    line-height: 16px;
    padding-right: 20px;
}

.x-boxselect-item-close {
    cursor: pointer;
}

.x-boxselect-item:hover .x-boxselect-item-close {
    color: #6D95E0;
}

.x-boxselect-item-close:hover {
    color: white !important;
}

.x-panel-header-icon, .x-window-header-icon {
    height: 17px !important;
}

.x-tab-default-top button, .x-tab-default-top .x-tab-inner {
    height: 17px !important;
}

.cpanel_sprite {
    background: url(/images/cpanel_sprite.png) no-repeat top left !important;
}

.cpanel_accept {
    background-position: 0 0 !important;
}

.cpanel_add {
    background-position: 0 -66px !important;
}

.cpanel_application_form {
    background-position: 0 -132px !important;
}

.cpanel_application_form_add {
    background-position: 0 -198px !important;
}

.cpanel_application_form_magnify {
    background-position: 0 -264px !important;
}

.cpanel_application_view_detail {
    background-position: 0 -330px !important;
}

.cpanel_cancel {
    background-position: 0 -396px !important;
}

.cpanel_cog {
    background-position: 0 -462px !important;
}

.cpanel_database_gear {
    background-position: 0 -528px !important;
}

.cpanel_database_save {
    background-position: 0 -594px !important;
}

.cpanel_delete {
    background-position: 0 -660px !important;
}

.cpanel_disk {
    background-position: 0 -726px !important;
}

.cpanel_house {
    background-position: 0 -792px !important;
}
