<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<div>
		<form tal:attributes="action search/getFormAction; method search/getFormMethod" >
			<div>
				<input type="text" style="width: 500px;" tal:attributes="name search/getFieldName; value search/getFieldValue"  />
				<input type="submit" tal:attributes="value search/getButtonValue" />
			</div>
			<div>
				Search: <input type="radio" tal:attributes="name search/getRadioName; value search/getLemmaRadioValue; checked php: search.getLemmaRadioValue() EQ search.getCheckedRadio() " /> Lemma
				&nbsp;&nbsp; &nbsp; <input type="radio" tal:attributes="name search/getRadioName; value search/getGlossaryRadioValue; checked php: search.getGlossaryRadioValue() EQ search.getCheckedRadio()" /> Glossary
			</div>
		</form>
	</div>
	<div tal:condition="php: hits.count() GT 0 AND search.getLemmaRadioValue() EQ search.getCheckedRadio()" tal:repeat="hit hits">
		<div><a tal:define="global lemma hit/lemma" href="lemma/${lemma}">${lemma}</a></div>
	</div>
	<div tal:condition="php: hits.count() GT 0 AND search.getGlossaryRadioValue() EQ search.getCheckedRadio()" >
		<table border="1">
			<thead>
			<tr><th align="center">Glossary</th><th align="center">Lemma</th><th align="center">Locale</th><th align="center">Discipline</th></tr>
			</thead>
			<tbody>
				<tr tal:repeat="hit hits"><td tal:content="hit/glossary">Glossary</td><td><a tal:define="global lemma hit/lemma;" href="lemma/${lemma}">${lemma}</a></td><td tal:content="hit/locale">Locale</td><td tal:content="hit/discipline">Discipline</td></tr>
			</tbody>
		</table>
	</div>
</body>
</html>