<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kateglo - Control Panel</title>
    <link rel="stylesheet" type="text/css" href="/ext4/resources/css/ext-all.css" />
    <script type="text/javascript" src="/ext4/bootstrap.js" />
    <script type="text/javascript" src="/javascripts/cpanel/main.js" />
</head>
<body>
</body>
</html>