<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kateglo - Pagination</title>
</head>
<body tal:omit-tag="true" metal:define-macro="facet">
<aside>
	<h3>Telusuri di</h3>
	<ul class="telusuri">
		<tal:block tal:condition="php: search.getFieldValue() EQ ''">
			<li tal:condition="php: facetNav NE 'kamus'"><a href="/kamus">kamus</a></li>
			<li tal:condition="php: facetNav EQ 'kamus'">kamus</li>
			<li tal:condition="php: facetNav NE 'tesaurus'"><a href="/tesaurus">tesaurus</a></li>
			<li tal:condition="php: facetNav EQ 'tesaurus'">tesaurus</li>
			<li tal:condition="php: facetNav NE 'padanan'"><a href="/padanan">padanan</a></li>
			<li tal:condition="php: facetNav EQ 'padanan'">padanan</li>
			<li tal:condition="php: facetNav NE 'peribahasa'"><a href="/peribahasa">peribahasa</a></li>
			<li tal:condition="php: facetNav EQ 'peribahasa'">peribahasa</li>
			<li tal:condition="php: facetNav NE 'singkatan'"><a href="/singkatan">singkatan</a></li>
			<li tal:condition="php: facetNav EQ 'singkatan'">singkatan</li>
		</tal:block>
		<tal:block tal:condition="php: search.getFieldValue() NE ''">
			<li tal:condition="php: facetNav NE 'kamus'"><a
					href="/kamus?query=${php: urlencode(search.getFieldValue())}">kamus</a></li>
			<li tal:condition="php: facetNav EQ 'kamus'">kamus</li>
			<li tal:condition="php: facetNav NE 'tesaurus'"><a
					href="/tesaurus?query=${php: urlencode(search.getFieldValue())}">tesaurus</a></li>
			<li tal:condition="php: facetNav EQ 'tesaurus'">tesaurus</li>
			<li tal:condition="php: facetNav NE 'padanan'"><a
					href="/padanan?query=${php: urlencode(search.getFieldValue())}">padanan</a></li>
			<li tal:condition="php: facetNav EQ 'padanan'">padanan</li>
			<li tal:condition="php: facetNav NE 'peribahasa'"><a
					href="/peribahasa?query=${php: urlencode(search.getFieldValue())}">peribahasa</a></li>
			<li tal:condition="php: facetNav EQ 'peribahasa'">peribahasa</li>
			<li tal:condition="php: facetNav NE 'singkatan'"><a
					href="/singkatan?query=${php: urlencode(search.getFieldValue())}">singkatan</a></li>
			<li tal:condition="php: facetNav EQ 'singkatan'">singkatan</li>
		</tal:block>
	</ul>
	<hr/>
	<tal:block tal:condition="php: hits.getFacet().getType().count() GT 0">
		<h3>Bentuk Kata</h3>
		<ul>
			<tal:block tal:repeat="type hits/getFacet/getType">
				<li tal:condition="php: type GT 0">
					<tal:block tal:condition="php: filter.getTypeValue() EQ repeat.type.key ">
						${repeat/type/key}
					</tal:block>
					<tal:block tal:condition="php: filter.getTypeValue() NE repeat.type.key ">
						<a href="${search/getFormAction}/?query=${php: urlencode(search.getFieldValue())}&filter=${filter/getTypeUri}t:${php: urlencode(repeat.type.key)}">
							${repeat/type/key}
						</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getClazz().count() GT 0">
		<h3>Kelas Kata</h3>
		<ul>
			<tal:block tal:repeat="clazz hits/getFacet/getClazz">
				<li tal:condition="php: clazz GT 0">
					<tal:block tal:condition="php: filter.getClassValue() EQ repeat.clazz.key ">
						${repeat/clazz/key}
					</tal:block>
					<tal:block tal:condition="php: filter.getClassValue() NE repeat.clazz.key ">
						<a href="${search/getFormAction}/?query=${php: urlencode(search.getFieldValue())}&filter=${filter/getClassUri}c:${php: urlencode(repeat.clazz.key)}">
							${repeat/clazz/key}
						</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getSource().count() GT 0">
		<h3>Sumber</h3>
		<ul>
			<tal:block tal:repeat="source hits/getFacet/getSource">
				<li tal:condition="php: source GT 0">
					<tal:block tal:condition="php: filter.getSourceValue() EQ repeat.source.key ">
						${repeat/source/key}
					</tal:block>
					<tal:block tal:condition="php: filter.getSourceValue() NE repeat.source.key ">
						<a href="${search/getFormAction}/?query=${php: urlencode(search.getFieldValue())}&filter=${filter/getSourceUri}s:${php: urlencode(repeat.source.key)}">
							${repeat/source/key}
						</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
	<tal:block tal:condition="php: hits.getFacet().getDiscipline().count() GT 0">
		<h3>Disiplin</h3>
		<ul>
			<tal:block tal:repeat="discipline hits/getFacet/getDiscipline">
				<li tal:condition="php: discipline GT 0">
					<tal:block tal:condition="php: filter.getDisciplineValue() EQ repeat.discipline.key ">
						${repeat/discipline/key}
					</tal:block>
					<tal:block tal:condition="php: filter.getDisciplineValue() NE repeat.discipline.key ">
						<a href="${search/getFormAction}/?query=${php: urlencode(search.getFieldValue())}&filter=${filter/getDisciplineUri}d:${php: urlencode(repeat.discipline.key)}">
							${repeat/discipline/key}
						</a>
					</tal:block>
				</li>
			</tal:block>
		</ul>
	</tal:block>
</aside>
</body>
</html>