<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:tal="http://xml.zope.org/namespaces/tal" xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kateglo - Header</title>
</head>
<body tal:omit-tag="true" metal:define-macro="header">
<header>
    <a href="/" title="Beranda Kateglo"><h2>Kateglo</h2></a>

    <form name="search" action="${search/getFormAction}" method="GET" class="telusur">
        <input type="text" name="${search/getFieldName}"
               value="${search/getFieldValue}" placeholder="Ketik yang dicari, kemudian tekan tombol enter"/>
        <input class="submit" type="submit" value="Cari"/>

        <p class="pright"><a href="http://code.google.com/p/kateglo/wiki/PencarianKateglo">Petunjuk Penelusuran</a>
            <a href="${search/getFormAction}/detail">Penelusuran lanjutan</a>
        </p>
        <tal:block tal:condition="exists: hits">
            <p class="pleft">Hasil penelusuran: ${hits/getCount} entri (${hits/getTimeInSeconds} detik)</p>
        </tal:block>
    </form>

    <div class="clear"></div>
</header>
</body>
</html>